*{
    box-sizing: border-box;
}
body{
    background-color: #E8E7EC;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
}
header {
	width: 100%;
    display: flex;
    background-color: #5EAE8B;
    height: 20%;
}
header a{
	margin: 0;
	width: 19%;
	height: 100%;
}
#logo{
	margin: 0;
	width: 100%;
	height: 100%;
}
#banniere{
	top: right;
	width: 40%;
	margin: 0 0 0 45%;
	padding:0;
    display: flex;
}
#debanniere{
	top: right;
	width: 40%;
	margin: 0 0 0 45%;
	padding:0 0 0 10%;
    display: flex;
}
#banniere .ban {
	margin: 0 1%;
	padding: 13% 0;
	width: 40%;
}
#debanniere .ban {
	margin: 0 1%;
	padding: 13% 0;
	width: 40%;
}
#user{
	margin: 1%;
	width: 10%;
	height: 100%;
}
header div div a{
	background-color: #054752;
	color: white;
	text-decoration: none;
	font-style: normal;
	padding: 10%;
    text-align: center;
    border-radius: 5px;
	margin: 30%;
}
header div div a:hover {
	border-width: 3px;
	box-shadow: 5px 5px 0px black;
}
#slogan{
	text-align: center;
}
form{
	width: 60%;
	margin: 2% 0 2% 28%;
    display: flex;
}
form div{
	margin: 0 5%;
}
form submit{
	margin: 5% 0;
}
footer{
    width: 100%;
    background-color: #2F647A;
	display: flex;
	color: white;
}
footer article{
	
	background-color: #2F647A;
    width: 100%;
    margin: auto;
    height: 10%;
    padding: 2%;
    display: flex;
}
#a1{
	border-right: solid;
	border-color: #232323;
}
footer article div{
	margin: 2%;
}
.boiteaimage{
    overflow: hidden;
	width: 60%;
	margin: auto;
}
footer article div img{
	width: 100%;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
}
#a1:hover #b1{
    opacity: 0.6;
    transform: scale(1.8) rotate(-0.05turn);
}
#a2:hover #b2{
    opacity: 0.6;
    transform: scale(1.8) rotate(-0.05turn);
}
#gif{
	margin: 0 0 0 15%;
	width: 80%;
}
#inscrip{
	background-color: #2F647A;
	width: 50%;
}
#inscrip p{
	margin-left: 10%;
}
#inscrip div{
	width: 100%;
}
#inscrip div input{	
}
#inscrip div fieldset {
	margin-left: 0;
	width: 100%;
	border: none;
}
#inscrip div fieldset p{
	margin: 0;
}
#inscrip div fieldset p label{
}
#inscrip div fieldset p input{
	width: 100%;
	border-radius: 10px;
}
#inscrip form{
	width: 100%;
	margin: 0;
	padding: 0;
	align-content: left;
}
#bleu{
	background-color: #2F647A;
	width: 100%;
    display: flex;
}
#bleu div{
	width: 70%;
}
#piece{
	width: 100%;
}
#bis{
	background-color: #5EAE8B;	
}
#failc{
	background-color: black;
}
#failc img{
	width: 100%;
}
#poisson{
	width: 30%;
	margin-left: 28%;
}